* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    overflow: hidden;
    background-color: black;
  }
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: none;
}
.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.svg-animation-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 288px;
}
.container_buttons {
  width: 100%;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}
.container_buttons button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: rgb(148, 74, 113);
  font-size: 45px;
  font-weight: bold;
}
.font_english {
  font-family: Arial, Helvetica, sans-serif;
}
.link-button img {
  max-width: 40px;
  height: auto;
  object-fit: cover;
}
.cate_wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.custom-black{
  height: 100%;
}
.custom-min-text{
  margin-top: 15px;
  margin-bottom: 15px;
}
.custom-cate-wraper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.custom-content-thai {
  padding: 10px 54.5px;
  height: 100%;
  font-family: "Krub", serif;
  font-weight: 400;
  font-style: normal;
}
.custom-footer {
  .custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
