.content {
    position: relative;
    height: calc(100vh - 162px);
    background-color: black;
    margin: 0;
    padding: 0;
  
    .black {
      height: 100%;
      width: 100%;
      animation-name: opasitiText;
      animation-duration: 0.5s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: ease;
  
      .rules {
        font-family: "Segoe Print";
        height: 100%;
        color: white;
        width: 100%;
        font-weight: 300;
        text-align: left;
        h1 {
          margin-top: 10px;
          color: white;
          font-size: 24px;
        }
        h2 {
          color: #7e3a55;
          margin-top: 12px;
          font-size: 24px;
        }
        p {
          color: #7e3a55;
          font-size: 14 px;
        }
        button {
          width: 100%;
          background-color: transparent;
          color: white;
          border: none;
          font-size: 27px;
          margin-top: 15px;
          display: flex;
          justify-content: center;
          font-family: "Segoe Print";
        }
      }
      .iframe {
        display: block;
        margin-top: 0;
        border: none;
        height: 100%;
        width: 100%;
      }
      .wraper_wellcome {
        width: fit-content;
        margin: 0 auto;
        color: rgb(143, 57, 103);
        .text {
          position: relative;
          z-index: 22;
          padding: 0;
          margin: 0;
          line-height: normal;
          text-align: center;
          font-family: Segoe Print;
          font-size: 24px;
        }
        .min_text {
          margin-top: 10px;
          font-family: Segoe Print;
          font-size: 16px;
        }
        .mt {
          position: relative;
          z-index: 22;
          margin-top: 20px;
        }
        .pt {
          padding-top: 20px;
        }
      }
      .cate {
        position: fixed;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        opacity: 10%;
        z-index: 1;
        background-image: url(../assets//image/paw.svg);
        background-repeat: round;
        transform: rotate(45deg);
      }
      .footer {
        margin-top: 25px;
        width: 100%;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        font-family: "SFProDisplay";
        color: rgb(143, 57, 103);
        .info_jobs {
          cursor: pointer;
          display: flex;
          align-items: center;
          .icons {
            display: block;
            list-style-type: none;
            position: relative;
            margin-left: 5px;
            background-color: transparent;
            .one {
              position: absolute;
              height: 2px;
              position: absolute;
              background-color: rgb(143, 57, 103);
              width: 100%;
              z-index: 10;
              content: "";
            }
            .two {
              content: "";
              height: 2px;
              width: 100%;
              background-color: rgb(143, 57, 103);
              position: absolute;
              top: 7px;
            }
            .tree {
              content: "";
              height: 2px;
              width: 100%;
              background-color: rgb(143, 57, 103);
              position: absolute;
              top: 14px;
            }
            width: 18px;
            height: 16px;
          }
        }
        a {
          cursor: pointer;
          text-decoration: none;
          color: rgb(143, 57, 103);
        }
      }
    }
  }