@font-face {
    font-family: "SFProDisplay";
    src: url("../assets/font/SF-Pro-Display-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: "Segoe Print";
    src: url("../assets/font/segoeprint.ttf") format("opentype");
  }
  