.pk {
  overflow: hidden;
  position: relative;
  z-index: 33;
  height: 162px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(184, 107, 136, 1) 60%,
    rgba(250, 147, 187, 1) 100%
  );
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
  .container {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    .logo {
      width: fit-content;
      img {
        height: 145px;
        width: 145px;
      }
    }
    .book-now {
      width: 100px;
      position: relative;
      a {
        z-index: 33;
        display: block;
        position: relative;
        margin-top: 99px;
        display: flex;
        flex-direction: column;
        color: #803c55;
        &:hover {
          color: #ab7c8b;
        }
        text-decoration: none;
        p {
          font-size: 30px;
          font-family: "SFProDisplay";
          font-weight: bold;
        }

        span {
          margin-top: -8px;
          margin-right: 5px;
          text-align: right;
          font-weight: 800;
          font-size: 14px;
        }
      }
    }
    .link {
      display: flex;
      flex-direction: column;
      a {
        cursor: pointer;
        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

.mobile {
  overflow: hidden !important;
  position: relative;
  transform: translateZ(0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(184, 107, 136, 1) 60%,
    rgba(250, 147, 187, 1) 100%
  );
  height: 300px;
  width: 100%;
  display: none;
  z-index: 22;
  border-bottom: 1px solid white;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  .book_mb {
    height: 43px;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    position: absolute;
    display: flex;
    transform: translateX(50%);
    margin-left: -45px;
    bottom: 4px;
    width: 100%;
    text-decoration: none;
    font-family: "SFProDisplay";
    color: rgb(143, 57, 103);
    font-weight: bold;
    p {
      font-size: 35px;
    }
    span {
      transform: translate(-15px, 29px);
      font-size: 15px;
    }
  }
  &-container {
    overflow: hidden !important;

    height: 260px;
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    transition: all 0.7s;

    a {
      width: fit-content;
      width: fit-content;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .facebook {
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
    .tiktok {
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
    .logo-mobile {
      transform: translateZ(0);
      img {
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
      }
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
    .lie {
      position: relative;
      z-index: -1;
      display: block;
      width: 50px;
      height: 50px;
    }
    .menu-mobile {
      display: block;
      right: 0;
      opacity: 0;
      width: 20px;
      height: 50px;
      animation-name: appearanceMenu;
      animation-duration: 390ms;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
  }
}
