@keyframes decreaseHeader {
  0% {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(184, 107, 136, 1) 60%,
      rgba(250, 147, 187, 1) 100%
    );
    height: 310px;
  }
  15% {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(158, 99, 122) 60%,
      rgb(219, 132, 166) 100%
    );
  }
  25% {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(160, 102, 124) 60%,
      rgb(219, 145, 173) 100%
    );
  }
  50% {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(116, 82, 95) 60%,
      rgb(163, 121, 137) 100%
    );
  }
  75% {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(53, 46, 48) 60%,
      rgb(87, 73, 78) 100%
    );
  }
  100% {
    background: black;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(0, 0, 0) 60%,
      rgb(0, 0, 0) 100%
    );

    height: 90px;
  }
}
@keyframes decrease-img {
  0% {
    height: 140px;
    width: 140px;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}
@keyframes decrease {
  0% {
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -70px;
  }
  100% {
    z-index: 10;
    position: absolute;
    left: 0%;
    top: 0px;
  }
}
@keyframes books {
  100% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;

  }
}

@keyframes appearanceMenu {
  0% {
    position: relative;
    opacity: 0;
    width: 50px;
  }
  100% {
    position: relative;
    width: 50px;
    opacity: 1;
  }
}

@keyframes tiktook {
  0% {
    transform: translateX(15px);
  }
  100% {
    position: relative;
    transform: translateX(0px);
  }
}

@keyframes facebok {
  0% {
    transform: translateX(-15px);
  }
  100% {
    position: relative;
    transform: translateX(0px);
  }
}
////////////////////////////////////////
@keyframes exaggerate-header {
  0% {
    background: black;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgb(0, 0, 0) 60%,
      rgb(0, 0, 0) 100%
    );
    height: 90px;
  }
  100% {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(184, 107, 136, 1) 60%,
      rgba(250, 147, 187, 1) 100%
    );
    height: 310px;
  }
}

@keyframes exaggerate-img {
  0% {
    height: 50px;
    width: 50px;
  }
  100% {
    height: 140px;
    width: 140px;
  }
}

@keyframes exaggerate {
  0% {
    position: absolute;
    z-index: 150;
    top: 0;
    left: 0;
  }
  100% {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-70px);
  }
}

@keyframes booksanime {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes exaggerateMenu {
  0% {
    width: 50px;
    opacity: 1;
  }
  100% {
    width: 50px;
    opacity: 0;
  }
}

@keyframes exaggerat-facebok {
  0% {
    position: relative;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-15px);
  }
}

@keyframes exaggerat-tiktook {
  0% {
    position: relative;
    transform: translateX(0px);
  }
  100% {
    transform: translateX(15px);
  }
}

///
@keyframes contentOpasity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
