@media (max-height: 750px) {
  .mt {
    margin-top: 2px;
  }
}
@media (min-width: 1200px) {
  .footer {
    width: 100%;
    .container {
      margin: 0 auto;
      width: 1200px;
    }
    position: absolute;
    bottom: 20px;
    left: 0;
  }
}
@media (max-width: 1200px) {
  .pk {
    .container {
      width: 1100px;
    }
  }
  .footer {
    width: 100%;
    .container {
      margin: 0 auto;
      width: 1100px;
    }
    position: absolute;
    bottom: 20px;
    left: 0;
  }
}
@media (max-width: 1100px) {
  .pk {
    .container {
      width: 900px;
    }
  }
  .footer {
    width: 100%;
    .container {
      margin: 0 auto;
      width: 900px;
    }
    position: absolute;
    bottom: 20px;
    left: 0;
  }
}

@media (max-width: 900px) {
  .pk {
    .container {
      width: 720px;
    }
  }

  .footer {
    width: 100%;
    .container {
      margin: 0 auto;
      width: 700px;
    }
    position: absolute;
    bottom: 20px;
    left: 0;
  }
}

@media (max-width: 720px) {
  .pk {
    display: none;
  }
  .mobile {
    display: block;
  }
  .content {
    height: calc(100vh - 90px);
    .black {
      margin: 0 auto;
      width: 540px;
      padding-left: 18px;
      padding-right: 18px;
    }
    .wraper_wellcome {
      text-align: left;
      width: fit-content;
      margin: 0 auto;
      color: rgb(148, 74, 113);
      .text {
        position: relative;
        z-index: 22;
        padding: 0;
        line-height: 130%;
        margin-top: 5px;
        text-align: left;
        font-family: Segoe Print;
        font-size: 20px;
      }
      .min_text {
        font-family: Segoe Print;
        font-size: 16px;
        overflow: hidden;
      }
      .mt {
        position: relative;
        z-index: 22;
        margin-top: 2px;
      }
    }
  }
  .footer {
    position: static;
    margin-top: 40px;
    .container {
      width: 500px;
    }
  }
  .con .content_mb {
    height: calc(100vh - 310px) !important;
  }
}

@media (max-width: 540px) {
  .pk {
    display: none;
  }
  .mobile {
    display: block;
  }
  .footer {
    width: 100%;
    position: absolute;
    bottom: 27px;
    .container {
      width: 320px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
  .content {
    height: calc(100vh - 90px);
    .black {
      margin: 0 auto;
      width: 320px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .rules {
      font-family: "Krub", sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 130%;
      width: 320px;
      margin: 0 auto;
      padding-left: 20px;
      padding-right: 20px;
      h1 {
        font-size: 18px;
        margin-top: 22px;
        line-height: 130%;
        font-weight: 400;
        margin-bottom: 5px;
      }
      h2 {
        margin-top: 5px;
        font-size: 16px;
        line-height: 130%;
      }
      p {
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 13px;
        line-height: 130%;
      }
      button {
        position: absolute;
        bottom: 27px;
        display: flex;
        justify-content: center;
        left: 0;
        font-size: 18px;
      }
    }
    .wraper_wellcome {
      width: 100%;
      text-align: left;
      color: rgb(148, 74, 113);
      .text {
        position: relative;
        z-index: 22;
        padding: 0;
        line-height: 130%;
        text-align: center;
        font-family: "Krub", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 5px;
        margin-top: 25px;
        font-size: 18px;
      }
      .min_text {
        font-family: "Krub", sans-serif;
        font-weight: 400;
        font-style: normal;
        overflow: hidden;
        text-align: center;
        line-height: 130%;
      }
      .mt {
        position: relative;
        z-index: 22;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
  .content_mb {
    height: calc(100vh - 310px) !important;
  }
}
